apiVersion: v1
kind: Service
metadata:
  name: playground-service
  namespace: dev
spec:
  selector:
    app: rjobert-playground
  ports:
    - protocol: TCP
      port: 80       # External port (what other services/users connect to)
      targetPort: 8888  # The port your app inside the pod is running on
  type: ClusterIP  # Change to "NodePort" or "LoadBalancer" if external access is needed